[Unit]
Description=RBus Service
Before=wpeframework.service

[Service]
ExecStart=/etc/init.d/rbus start
ExecStop=/etc/init.d/rbus stop
ExecReload=/etc/init.d/rbus reload
Restart=always

[Install]
WantedBy=multi-user.target
